graft src

prune .github
prune data
prune docs
prune temp
prune tests

include LICENSE
include README.md
include AUTHORS.md
include CHANGELOG.md
include requirements.txt
include conftest.py
include compas_tna.png

exclude requirements-dev.txt
exclude pytest.ini .bumpversion.cfg .editorconfig
exclude tasks.py
exclude CONTRIBUTING.md

global-exclude *.py[cod] __pycache__ *.dylib *.nb[ic] .DS_Store *.ipynb
